@media (max-width: 991px){
    .menu-main .menu-close .iconComeBackIndex {
        position: absolute;
        font-size: 14vw;
        right: 0;
        bottom: -3vw;
    }

    nav.menu-main {
        background-color: #fff;
        box-shadow: 0 0 10px #504c4c;
        z-index: 10;
        border-bottom: 1px solid #a0a0a0;
        justify-content: space-between;
        padding: 1.5vw;
        display: flex;
        align-items: center;
    }

    nav.menu-main > .back-to {
        float: left;
        color: #000;
        font-size: 10vw;
        margin-left: 1vw;
        position: absolute;
        display: flex;
    }

    nav.menu-main > .back-to > i {
        font-size: 10vw;
    }

    nav.menu-main div.menu-close {
        color: rgb(243, 181, 81);
        margin-left: 1vw;
    }

    .menu-main > .container-image-cooperative {
        height: 100%;
        width: 30%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }


    .title-menu {
        float: left;
        color: #000;
        font-size: 6vw;
        font-weight: 400;
        margin-left: 5vw;
    }

    .logo-return {
        width: 13vw;
        right: 0;
    }
}

@media (min-width: 992px) {
    .menu-main .menu-close .iconComeBackIndex {
        position: absolute;
        font-size: 14vw;
        right: 0;
        bottom: -3vw;
    }

    nav.menu-main {
        background-color: #fff;
        box-shadow: 0 0 10px #504c4c;
        z-index: 10;
        border-bottom: 1px solid #a0a0a0;
        justify-content: space-between;
        padding: 0.5vw 1vw;
        display: flex;
        align-items: center;
        height: 4vw;
    }

    nav.menu-main > .back-to {
        float: left;
        color: #000;
    }

    nav.menu-main > .back-to > i {
        font-size: 3vw;
    }

    nav.menu-main div.menu-close {
        color: rgb(243, 181, 81);
        margin-left: 1vw;
    }

    .menu-main > .container-image-cooperative {
        height: 100%;
        width: 30%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }


    .title-menu {
        float: left;
        color: #000;
        font-size: 6vw;
        font-weight: 400;
        margin-left: 5vw;
    }

    .logo-return {
        width: 3%;
        right: 0;
    }
}