html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
#headerWebSignUp{
    display: none;
}
#headerWebSignUp{
    background-color: #e9991a;
    height: 4vw;
}
.titleHeaderSignUp{
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3vw;

}
.wrapper-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 10;
}

#header-steps {
    background: #e9991a;
    display: flex;
    align-items: center;
    height: 9px;
    flex: 1;
    padding: 1vw;
}

#header-steps .content-icon {
    flex: 1;
    justify-content: center;
    display: flex;
}

#header-steps .content-icon img {
    width: 27px;
    height: auto;
}

#headerWebSignUp .content-icon {
    position: relative;
    top: -2.8vw;
    left: 1vw;
    cursor: pointer;
}

#headerWebSignUp .content-icon img {
    width: 27px;
    height: auto;
}

#header-steps #title-header-steps {
    flex: 5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: calc(50% - 25vw);
    font-size: 5.8vw;
}

.wrapper-form .container-form input#averageValue {
    background: #ea9d1b;
    color: #fff;
}

.wrapper-form .container-form input#averageValue::placeholder {
    color: #fff;
}

.content-stars i {
    margin-right: 10px;
}