@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
    padding: 0;
    color: #49494B;
}

.geral404{
    font-family: "Montserrat";
    margin-top: 0vw;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.geral404 .navbar{
    background-color: #FF9A00;
    width: 100%;
    height: 6vw;
}
.iconComeBack{
    width: 5vw;
    position: absolute;
    top: 0;
    margin-top: 0.5vw;
    margin-left: 2vw;
}
.geral404 .alignCenter{
    text-align: center;
}
.geral404 .giffCar{
    width: 25%;
}

@media (max-width:992px) {
    .geral404  img.giffCar{
        width: 50%;
        /* margin-left: 25vw; */
    }
}