.autocomplete-custom{
    position: absolute;
    width: 90%;
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0 1vw 1vw #8c8c8c;
    max-height: 50vw;
    margin-top: 18%;
    list-style: none;
    padding: 0;
}
.autocomplete-custom li {
    padding: 4vw 3vw;
    border-bottom: 1px solid #ccc;
}
.screenWebSignUp .autocomplete-custom{
    position: absolute;
    width: auto;
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0 1vw 1vw #8c8c8c;
    max-height: 50vw;
    margin-top: 5vw;
    list-style: none;
    padding: 0;
}
