#bg-taxi {
    margin-top: 86px;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bg-taxi h1 {
    text-transform: uppercase;
    font-size: 4.1vw;
    letter-spacing: 0.2vw;
    position: relative;
    top: -40vw;
    left: 5vw;
    max-width: 80%;
}

.bg-mobile {
    display: none;
}

#bg-taxi .btn-section {
    position: absolute;
    bottom: 34vw;
    left: 5vw;
    font-size: 2.3vw;
    font-weight: bold;
    background: #fff;
    border: 1.5px solid #ff9a00;
    border-radius: 1.5vw;
    color: #4d535c;
    text-transform: uppercase;
    width: 21vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px 21px rgba(0, 0, 0, 0.2);
}

#how-to-integrate {
    margin-top: -37px;
}

.timeline-mobile {
    display: none;   
}

#how-to-integrate .time-line-sign-up-numbers .list-numbers {
    display: flex;
    justify-content: space-between;
    left: 40px;
    position: relative;
}

#how-to-integrate .time-line-sign-up-numbers .list-numbers .item-number {
    font-size: 11vw;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

.time-line-sign-up-numbers {
    padding-bottom: 40px;
}

.time-line-sign-up-line {
    display: flex;
}

ul.list-numbers li:first-child .rounded {
    left: 17px;
}

ul.list-numbers li:first-child hr {
    left: 54px;
    top: 10px;
    width: 17vw;
}

#how-to-integrate .time-line-sign-up-numbers .list-numbers li.item-number:hover{
    color: #ff9a00;
    transition: 1s;
}

#how-to-integrate .text-section{
    padding: 60px 0 20px 0;
    text-align: justify;
    font-size: 1.8vw;
    font-weight: 300;
    text-indent: 3vw;
}

#how-to-integrate .time-line-sign-up-numbers .list-numbers li.item-number:hover .rounded {
    background: #ff9a00;
    transition: 1s;
}

#how-to-integrate .time-line-sign-up-numbers .list-numbers li.item-number:hover .text-timeline {
    opacity: 1;
    transition: 1s;
}

.rounded {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    background: #fff;
    position: relative;
    left: 29px;
}

.wrapper-line hr{
    width: 15vw;
    border: 3px solid #fff;
    left: 57px;
    margin-top: -7px;
    position: relative;
}

.wrapper-line .text-timeline {
    color: #000;
    margin-top: 10px;
    font-size: 1vw;
}

.wrapper-line .text-timeline p {
    opacity: 0;
    margin-top: 0;
    left: -3.5vw;
    position: relative;
    font-weight: 300;
}

.wrapper-line .text-timeline span{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1vw;
}

#more .container, #more .row, #more .col {
    height: 100%;
}

#more .col:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#more .col:last-child {
    
    float: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#more .wrapper {
    margin-right: 5%;
    position: relative;
    border-radius: 0 136px 148px 0;
    height: 31vw;
}

#more .wrapper img.main-image {
    position: absolute;
    right: -3.65vw;
    height: 40vw;
    width: auto;
    top: -3.5vw;
}

#more .wrapper .text-section {
    color: #fff;
    font-size: 1.5vw;
    padding: 0;
    text-align: left;
}

#more .wrapper .btn-section {
    border-bottom: 1px solid rgba(255,255,255,0.4);
    font-size: 1.6vw; 
    color: #fff;
    font-weight: bold;
}

#more .wrapper-btn {
    padding: 20px 0;
}

#more .wrapper-btn a:last-child {
    top: 3px;
    position: relative;
    left: 4px;
}
#sign-up-driver {
    margin-bottom: -30px;
    height: 20vw;
}

#sign-up-driver .container
, #sign-up-driver .container .row
, #sign-up-driver .container .row .col {
    height: 100%;
}

#sign-up-driver .container .row .col {
    display: flex;
    align-items: center;
}

#sign-up-driver .subtitle-section {
    font-size: 4.5vw;
    font-weight: 100;
    color: #4d535c;
    text-transform: none;
    line-height: 1;
}

#sign-up-driver .subtitle-section span {
    font-weight: bold;
    color: #4d535c;
}

#sign-up-driver .btn-section {
    width: 100%;
    height: 5.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3vw;
    font-size: 2.2vw;
    font-weight: bold;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

#download-app {
    height: 25vw;
    display: flex;
    align-items: center;
}

#download-app .list-download {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#download-app .list-download li {
    width: 250px;
}

#download-app .list-download li img {
    width: 230px;
}

#download-app .subtitle-section {
    padding: 40px 0;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    color: #4d535c;
}

/* mobile */
@media (max-width: 798px) {
    #bg-taxi {
        margin-top: 0;
    }

    .bg-desktop {
        display: none;
    }

    .bg-mobile {
        display: block;
    }

    #bg-taxi .btn-section {
        top: 56vw;
        left: calc(50% - 21.5vw);
        font-size: 4.1vw;
        border-radius: 2vw;
        width: 43vw;
        height: 10vw;
        box-shadow: 4px 8px 21px rgba(0,0,0,0.2);
    }

    #bg-taxi h1 {
        text-transform: uppercase;
        font-size: 8.1vw;
        letter-spacing: 0.2vw;
        position: absolute;
        top: 14vw;
        left: 12.5vw;
        max-width: 100%;
        text-align: center;
    }

    #how-to-integrate .text-section {
        font-size: 5.2vw;
        font-weight: 300;
    }

    #how-to-integrate .subtitle-section {
        display: none;
    }

    .timeline-desktop {
        display: none;
    }

    .block-step-text-mobile {
        margin-bottom: -20px;
    }

    .block-step-text-mobile:hover .number {
        color: #ff9a00;
        transition: 1s;
    }

    .block-step-text-mobile .number {
        font-size: 35vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    }

    .block-step-text-mobile .row {
        display: flex;
        align-items: center;
        height: 31vh;
    }

    .block-step-text-mobile .row .wrapper-block-content .title-block {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 5vw;
    }

    .block-step-text-mobile .row .wrapper-block-content .text-block {
        font-weight: 300;
        font-size: 4.5vw;
    }

    .timeline-mobile {
        display: block;
    }

    .timeline-mobile .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .timeline-mobile .timeline {
        position: relative;
        height: 124vh;
        top: 17.8vh;
    }

    .timeline-mobile .timeline .rounded {
        width: 4vw;
        height: 4vw;
        left: 0;
    }

    .timeline-mobile .timeline .block-line-mobile .vertical-line {
        height: 20vh;
        border-left: 6px solid #fff;
        top: 23px;
        position: relative;
    }

    .timeline-mobile .timeline .block-line-mobile .row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #more {
        margin-top: -20px;
    }

    #more .wrapper {
        margin-right: 0;
        border-radius: 0;
        height: 100%;
    }

    #more .wrapper img.main-image {
        position: relative;
        right: 0;
        height: auto;
        width: 67vw;
        top: 0;
        margin: 20px auto;
    }

    #more .col:last-child {
        float: none;
        position: relative;
    }
    #more .col:first-child {
        float: none;
    }

    #more .wrapper .text-section {
        font-size: 5.5vw;
        text-align: justify;
    }
    #more .wrapper .btn-section {
        font-size: 4.6vw;
    }
    
    #sign-up-driver {
        height: 100%;
    }

    #sign-up-driver .subtitle-section {
        font-size: 7.2vw;
        margin: 40px 0;
    }

    #sign-up-driver .container .row .col {
        justify-content: center;
    }

    #sign-up-driver .btn-section {
        width: 36vh;
        height: 13.5vw;
        border-radius: 7vw;
        font-size: 6.2vw;
        font-weight: 600;
    }

    #download-app .list-download li {
        width: 35vw;
    }

    #download-app .list-download li img {
        width: 32vw;
    }
    #download-app {
        height: 100%;
    }
    
    #download-app .container {
        padding-top: 60px;
    }

    #download-app .subtitle-section {
        font-size: 10.5vw;
        font-weight: 700;
    }

}

/* smartphone small */
@media (max-width: 498px) {
    .timeline-mobile .timeline .block-line-mobile .vertical-line {
        height: 22vh;
        top: 14px;
    }
}


@media(min-width: 600px) and (max-width: 798px) {
    
    .block-step-text-mobile .number {
        font-size: 23vw;
    }
    
    .block-step-text-mobile .row {
        height: 49vh;
    }

    .timeline-mobile .timeline .block-line-mobile .vertical-line {
        height: 37vh;
        top: 1.5vw;
    }
}

@media(min-width: 799px) {
    #bg-taxi {
        margin-bottom: -18vw; 
    }
}