div#modal-video, div#modal-video-mobile{ 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
}

div#modal-video .modal-item{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div#modal-video .modal-item iframe{
    width: 56vw;
    height: 31.5vw;
}

div#modal-video-mobile .modal-item-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


div#modal-video-mobile .modal-item-mobile iframe{
    width: 100%;
    height: 100vw;
}



 