.container-customer{
    padding:5vw;
    background-color: #fff;
    margin-top: -6px; 
}
.container-middle
{
    margin-top: -10px;
    background-color: #fff;
    width: 100%;
    height: 70px;
}

h2.describ-text{
    text-align: justify;
    font-size: 1.8vw;
    text-indent: 3vw;
    margin-bottom: 3em;
    font-weight: 300;
}

h2.describ-text strong {
    font-weight: 500;
}

.row-because-taxi-return{
    display: flex;
    justify-content: space-between;
}

.row-because-taxi-return .descript-because{
    width:100%;
    text-align: center;
    font-size: 30px;
}

#main-customers {
    margin-top: 86px;
    position: relative;
}

#main-customers img {
    width: 100%;
}

#main-customers h1 {
    position: absolute;
    top: 8vw;
    left: 5vw;
    font-size: 4.1vw;
}

#main-customers h1 strong {
    font-weight: 600;
}

.row-because-taxi-return p{
    font-size: 1.2em;
}


.bg-hostl-hero{
    background-image: url('../img/hero/baner_site_hotel.png'); 
}

.row-because-taxi-return  div:nth-child(1) h2{
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1vw;
}

.row-because-taxi-return div img{
    width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.4vw;
    margin-right: 10%;
    margin-left: 25%;
}

.hero-hostel-home-mobile{
    display: none;
}
.row-because-taxi-return div h2.align-text-center-img{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-right: 10%;
    margin-left: 10%;
    width: 300px;
    font-weight: 400;
}

.row-because-taxi-return div h2.sub-text-img{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: 300;
    width: 300px;
}

a.btn-comece-agr{
    width: 33%;
    /* background-color: red; */
    height: 58px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    font-size: 1.3em;
    background-color: rgb(255,174,43);
    border-radius: 25px;
    font-weight: 500;
    border: none;
}

.row-because-taxi-return div:nth-child(2){}



div.div-box-absolute{
    position: relative;
    height: 31vw;
    background: #fff;
    margin-bottom: 40px;
 }

 .div-box-absolute .bg-dark-yellow{
    background: whitesmoke;
    height: 100%;
    margin-right: 5%;
    bottom: 5%;
    
    border-radius: 0 16vw 12vw 0;
    position: absolute;
 }
.div-box-absolute img.img-lange{ 
    position: absolute;
    float: right;
    height: 40vw;  
    top: -8.2vw;
    right: -5vw;
    width: auto;
}
.bg-line-orange
{
    margin-top: -10px;
    background-color:black;
    width: 100%;
    height: 70px;
}

.div-box-absolute .descript-box-absolute
{
    width: 50%;
    margin-left: 2vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
}
 
.wrapper-btn {
    padding: 20px 0;
}

 .btn-section-ahref-about{
    color: #fff;
    border-bottom: 1px solId #FFF;
    font-weight: 800;
 }
.btn-icon-wrapper{
    width: 16px;
    height: 16px;
    top: 0.2vw;
    left: 0.6vw;
}


.wrapper-btn a:last-child {
    top: 4vw;
    position: relative;
    width: 40%;
    margin-left: 10vw;
}

div.inf-start-now{
    display: flex;
    margin-top: 4vw;
    align-items: center;
}

div.inf-start-now p{ 
    font-size: 2.5em;
    width: 58%;
    color: #333;
    width: 100%;
    font-size: 4.5vw;
    font-weight: 100;
    color: #4d535c;
    text-transform: none;
    line-height: 1;
    margin-bottom: 2vw;
}
div.inf-start-now a{ 
    width: 51%;
    margin-left: 8%; 
    height: 5.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3vw;
    font-size: 2.2vw;
    font-weight: bold;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    margin-bottom: -5px;
}

.hero-hostel-home{
    width: 100%;
    height: auto;
    margin-bottom: -6px;
    /* background-size: 100%;  */
    /* background-image: url(../img/hero-img-hostel.png); */
}

a.btn-donwload-app {
    position: absolute;
    bottom: 10vw;
    left: 5vw;
    font-size: 2.3vw;
    font-weight: bold;
    background: #fff;
    border: 1.5px solid #ff9a00;
    border-radius: 1.5vw;
    color: #4d535c;
    text-transform: uppercase;
    width: 21vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px 21px rgba(0, 0, 0, 0.2);
}
a.btn-donwload-app-right {
    position: fixed;
    bottom: 3vw;
    left: 2px;
    font-size: 2.3vw;
    font-weight: bold;
    background: white;
    border: 1.5px solid ;
    border-radius: 1.5vw;
    color: black;
    width: 21vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    box-shadow: 4px 8px 21px rgba(0, 0, 0, 0.2);
}
.img-resposive-hero-mobile{display: none;}


/* Mobile  */ 
@media (max-width: 798px) {
    header{
        display: none;
    }
    
    .container-middle
    {
        margin-top: 99vh;
        background-color: rgb(236,234,234);
        width: 100%;
        height: 70px;
    }

    #main-customers {
        margin-top: 260px;
        position: relative; 
    }
    
    #main-customers h1 {
        position: relative;
        top: -70vw;
        left: 0;
        font-size: 8.1vw;
        text-align: center;
    }

    .wrapper-btn a:last-child {
        position: relative;
        left: 6vw;
        padding: 0;
        border-radius: 4vw;
        font-size: 6vw;
        width: 65%;
        height: 12vw;
    }

    .bg-line-orange
    {
        margin-top: -230px;
        background-color:black;
        width: 100%;
        height: 70px;
    }

    p.describ-text {
        text-indent: 1em;
    }
    .row-because-taxi-return {
        flex-direction: column;
        width: 100%;
    }
    .row-because-taxi-return .descript-because {
        width: 100%;
    }
    .row-because-taxi-return p {
        font-size: 5.2vw;
        margin-bottom: 5vh;
    }

    h2.describ-text {
        font-size: 5.2vw;
    }

    .row-because-taxi-return div.box-mobile{
        display: flex;
        margin-bottom: 6vh;
        margin-left: -2vh;
    }
    .row-because-taxi-return div img {
        width: 90px;
        height: 99px;
        margin-right: -200px;
        margin-left: 1px;
    }
    .row-because-taxi-return div h2{
        display: flex;
        text-align: center;
        align-items: center;
        margin-right: 80px;
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .row-because-taxi-return div h2.align-text-center-img {
        display: initial;
        text-align: center;
        align-items: center;
        margin-left: 170px;
        margin-right: -100px;
        margin-top: 10px;
        font-weight: 400;
    } 
    .hero-hostel-home{
        display: none;
    }
    .hero-hostel-home-mobile{
        display: block;
        width: 100%;
        height: auto;
    }
    div.inf-start-now {
        flex-direction: column;
        text-align: left; 
    }
    div.inf-start-now p{
        font-size: 6.2vw;
        margin: 0px 0;
        margin-left: 5%;
        margin-bottom: 5vw;
    }
    div.inf-start-now button{
        width: 36vh;
        height: 13.5vw;
        border-radius: 7vw;
        font-size: 6.2vw;
        font-weight: 600;
        margin-left: 0%;
        margin-top:7vw;
        margin-bottom: 5vw;
    }
    div.div-box-absolute{
        height: auto;
    }
    .div-box-absolute .bg-dark-yellow{
        display: flex;
        flex-direction: column;
        border-radius: 0;
        margin-left: 0;
        align-items: center;
        height: auto;
        margin-bottom: -40px;
        width: 100%;
    }
    .div-box-absolute img.img-lange{
        position: relative;
        height: auto;
        top: -10vw;
        left: 0vw;
        width: 100%;
    }
    .div-box-absolute .descript-box-absolute{
        margin: 0;
        top: 4vw;
        font-size: 5.5vw;
        position: relative;
        padding: 0 19px;
        text-align: justify;
        width: 100%;
    }
    .wrapper-btn{
        margin-bottom: 5vw;
    }
    button.btn-donwload-app{
        /* top: 50vw;
        bottom: 0; */ 
        left: 33vw;
        font-size: 4.1vw;
        border-radius: 2vw;
        width: 43vw;
        height: 10vw;
        box-shadow: 4px 8px 21px rgba(0,0,0,0.2);
        background-color:white;
    } 
    .img-resposive-hero-mobile{
        display: block;
        width: 100%;
        height: auto;
        margin-top: -260px;
        background-repeat: no-repeat;
    }
    .img-resposive-hero{display: none;}
    a.btn-donwload-app {
        position: relative;
        top:-70vw;
        left: 28vw;
        padding: 0;
        border-radius: 4vw;
        font-size: 4.5vw;
        width: 45vw;
        height: 12vw;
    }

    div.inf-start-now a{
    width: 62vw;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    margin-left: 0;
    }

    .row-because-taxi-return div h2.sub-text-img{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        margin-left: 250px;
        font-weight: 300;
        width: 300px;
    }
}