.navOrange{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.8s;
    height: 86px;  
    box-shadow: 0 2px 10px #ccc;
    z-index: 999;
    background: rgb(234, 157,27);
}
li.text  {
    color: #fff;
    margin-right: 38vw;
    margin-top: -10px;
    
}

li.text >  h2 {
    font-size: 18pt;
}

.titles{
    font-size: 18pt;
}

.iconComeBack{
    width: 4vw;
    position: absolute;
    top: 0;
    margin-top: 1vw;
    margin-left: 0.2vw;
    z-index: 1000;
}
.eoq{
    
}