@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{margin: 0;padding: 0}

body{
    font-family: Montserrat;
    overflow-y: hidden;
}

.generalPreRegisterCliente{

    display: flex;

    flex-direction: column;

    align-items:center;

    justify-content: flex-end;

    position: absolute;

    height: 100%;

    width: 100%;

    background-image: url("../../img/background/cabecalhol_Mobile.jpg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    overflow-y: auto;
}
.generalPreRegisterCliente .flex{
    display: flex;
    justify-content: center;
    align-self: center;
}
.generalPreRegisterCliente .flex img{
    width:  25vw;
    height: 25vw;
}
.generalPreRegisterCliente .divInputs input{
    border:none;
    display: block;
    height: auto;
    border-radius: 5px;
    margin-top: 1vw;
    font-size: 13pt;
    padding: 2vw;
    font-family: "Montserrat";
    background-color: #ffffff;
    width: calc(100% - 4vw);
}
.generalPreRegisterCliente .divInputs .thisDivInput{margin-bottom: 3vw;}
.thisInput{
    padding-top: 1vw;
    color: white;
    font-size: 13pt;
    font-weight: 500;
}
.generalPreRegisterCliente .divInputs input::placeholder{
    color: white;
    padding-left: 1vw;
}
.generalPreRegisterCliente .divInputs button.btn{
    text-align: center;
    width: 100%;
    margin-top: 3vw;
    border: none;
    padding: 2vw;
    border-radius: 1vw;
    font-family: Montserrat;
    font-weight: 500;
    background-color: #ff8a00;
    cursor: pointer;
    color: #fff;
    font-size: 15pt;
}
.generalPreRegisterCliente .divInputs button.btn:active{
    border-color: #eda304
}

.modal{
    display: none;
}
.modal.show{
    display: block;
    transition: 1s;
    position: fixed;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
}
.modal.show .contentModal{
    background-color: white;
    padding: 3vw;
}
.modal.show .contentModal button{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.modal.show .contentModal .btnAndroid{
    border: none;
    border-radius: 1vw;
    padding: 4vw;
    color: white;
    background-color: cadetblue;
    font-size: 5vw;
    width: 100%;
}
.modal.show .contentModal .btnIos{
    border: none;
    border-radius: 1vw;
    padding: 4vw;
    color: white;
    background-color: cadetblue;
    font-size: 5vw;
    width: 100%;
}

.container-form{
    display: block;
    padding: 7vw 5vw 2vw;
    background-color: rgba(30, 28, 28, 0.75);
    background: linear-gradient(180deg, transparent 0, rgba(30, 28, 28, 0.75) 10%);
}

.text-description{
    text-align: center;
    color: #fff;
}


.generalPreRegisterCliente > img{
    width:15%;
    position:absolute;
    top:5vw;
    left:5vw;
}