*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div{
    width: 90%;
}


.container > div > img{
    width: 35vw;
    height: 35vw;
    display:block;
    margin: 0 auto 10vw;
}

.container > div > h4{
    font-weight: 500;
    display: block;
    text-align: center;
    font-size: 18pt;
    margin-bottom: 2vw;
}

.container > div > h2{
    font-weight: 600;
    display: block;
    text-align: center;
    font-size: 25pt;
    margin-bottom: 10vw;
}

.container > div > div{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
}

.container > div > div > label{
    font-size: 15pt;
    width: 100%;
    text-align: center;
    margin-bottom: 1vw;
}

.container > div > div > input{
    padding: 10px;
    text-align: center;
    font-size: 15pt;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container > div > button{
    display: block;
    margin:  11vw auto 0;
    font-size: 20pt;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #ff9c1f;
}