* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    counter-reset: input;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.container > .data-info-customer {
    margin: 0 auto 4vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container > .data-info-customer > img {
    width: 30%;
    margin: 2.5vw 0;
}

.container > .data-info-customer > h3 {
    font-weight: 500;
    margin: 2.5vw 0;
    font-size: 4.5vw;
}

.container > .data-info-customer > p {
    font-size: 4vw;
}

.container > ul {
    margin-top: 7vw;
    list-style: none;
}

.container > form > ul > li {
    display: flex;
    margin-bottom: 5vw;
    position: relative;
}

.container > form > ul > li::before {
    counter-increment: input;
    content: counter(input);
    margin: 0 4vw;
    height: 5vw;
    width: 5vw;
    background-color: #f7a836;
    color: #fff;
    padding: 2vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container > form > ul > li > div {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.container > form > ul > li > div > input {
    padding: 2vw;
    border-radius: 0.5vw;
    border: 1px solid #909090;
    margin-top: 1vw;
}

.container > form > ul > li::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 1px dashed #6b6b6b;
    left: 8vw;
    top: 9vw;
}

.container > form > ul > li:last-child::after {
    display: none;
}


.container > .success-partner > button,
.container > form > button{
    margin:10vw auto 5vw;
    padding:2.5vw 5vw;
    background-color:#f7a836;
    border:none;
    color:#fff;
    border-radius:1vw;
    box-shadow:0 0 7px #adadad;
    text-transform:uppercase;
    font-size:5vw;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.container > form > button[disabled]:before{
    content: '';
    width: 5vw;
    height: 5vw;
    border: 1vw solid transparent;
    margin-right: 3vw;
    border-radius: 100%;
    border-top: 1vw solid #fff;
    animation-name: preload-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes preload-button {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.container > form > button[disabled]{
    background-color:#707070;
}

.container > form.active{
    display:none;
}


.container > .success-partner {
    padding: 2vw 10vw;
    display: none;
}


.container > .success-partner.active {
    display: block;
}


.container > .success-partner > img{
    width:20%;
    display:block;
    margin:auto;
}

.container > .success-partner > p {
    text-align: justify;
    margin: 2vw 0;
}


.modal-terms-partner.active{
    display:flex;
}

.modal-terms-partner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-terms-partner > div{
    background-color: #fff;
    width: 90%;
    border-radius:5px;
    padding:2vw;
}

.modal-terms-partner > div > h4{
    font-size:6vw;
    text-align:center;
    font-weight:500;

}


.modal-terms-partner > div > p{
    position:relative;
    max-height:300px;
    overflow-y:auto;
    margin: 15px 0;
    text-align:justify;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 5px;
}


.modal-terms-partner > div > p > span{
    display:block;
    margin-bottom:2.5vw;
}

.modal-terms-partner > div > div{
    display:flex;
    justify-content:space-around;
}


.modal-terms-partner > div > div > button:first-child{
    background-color:#15b753;
    color:#fff;
}

.modal-terms-partner > div > div > button:last-child{
    background-color:#b71515;
    color:#fff;
}

.modal-terms-partner > div > div > button{
    width:45%;
    padding: 10px;
    border:1px solid #f8f8f8;
    border-radius:5px;
}